<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="#" routerLink="/Author">Books</a>
        <a class="nav-link" href="#" routerLink="/addAuthor">Authors</a>
      </div>
      <div class="navbar-side">
        <button class="btn btn-primary">Sign</button>
        <span class="navbar-text">Sign In</span>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
